aiosmtplib==5.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
bcrypt==3.2.2
blinker==1.9.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==2.0.12
classla==2.2.1
click==8.3.3
colorama==0.4.6
cryptography==47.0.0
kiwipiepy==0.23.1
dnspython==2.8.0
ecdsa==0.19.2
email-validator==2.3.0
emoji==2.15.0
fastapi==0.136.1
fastapi-mail==1.6.4
filelock==3.29.0
fsspec==2026.4.0
greenlet==3.5.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.13
Jinja2==3.1.6
lxml==6.1.1
MarkupSafe==3.0.3
mpmath==1.3.0
networkx==3.6.1
numpy==2.4.4
obeliks==1.1.6
passlib==1.7.4
platformdirs==4.9.6
protobuf==4.21.2
pyasn1==0.6.3
pycparser==3.0
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart==0.0.20
regex==2026.5.9
reldi-tokeniser==1.0.3
requests==2.28.0
rsa==4.9.1
setuptools==82.0.1
six==1.17.0
SQLAlchemy==2.0.49
stanza==1.11.1
starlette==1.0.0
sympy==1.13.1
termcolor==3.3.0
torch==2.6.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
udapi==0.5.2
udtools==0.2.7
urllib3==1.26.20
uvicorn==0.46.0
